#heading{
	box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, .9);
	padding: 5px;
	margin-top:10px;
	background-color: #232323;
}

h1{
	text-align: center;
	font-family: century gothic;
	color:#e8e8e8;
}

#filter-box
{
	background-color: #1a3a3d;
	margin-top:10%;
	box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, .9);
	float: left;
}

h2{
	padding: 10px;
	margin-top: 0px;
	background: white;
	text-align: center;
	font-family: tw cen mt;
	color: #4c4c4c;
}

ul{
	text-decoration: none;
	list-style:none;
	position:relative;
	line-height:120%;
}

a{
	text-decoration:none;
	font-weight:700;
	font-size:15px;
	font-family:"Tw cen mt";
	color:#e8e8e8;
	line-height:120%;
}

li{
	padding: 15px;
}

#filter-box ul li:hover
{
	background:#2d2d2d;
}

.zoomdiv {
	padding: 50px;
	background-color: transparent;
	transition: transform .3s;
	margin: 0 auto;
}

.zoomdiv:hover {
	transform: scale(1.1);
}